@font-face {
    font-family: "Ogg";
    src: url(Assets/Ogg-Roman.woff) format("woff");
}

@font-face {
    font-family: "Ogg-Italic";
    src: url(Assets/Ogg-Italic.woff) format("woff");
}

@font-face {
    font-family: "Canela Thin";
    src: url(assets/CanelaText-Thin.woff) format("woff");
}

@font-face {
    font-family: "Canela Thin Italic";
    src: url(assets/CanelaText-ThinItalic.woff) format("woff");
}

@font-face {
    font-family: "Adieu-Black";
    src: url(assets/Adieu-Black.woff) format("woff");
}

@font-face {
    font-family: "Adieu-Light";
    src: url(assets/Adieu-Light.woff) format("woff");
}


@keyframes move {
    0% {
      transform: translate(2px, 6px);

    }
    100% {
      transform: translate(200px, 600px);

    } 
}

@keyframes moveopp {
    0% {
      transform: translate(200px, 300px);


    }
    100% {
        transform: translate(2px, 6px);

    } 
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    
    50% {
      transform: translate(0);
    }
    
    100% {
      opacity: 1;
    }
  }
  
  .appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

body {
    background-color: #F4F3EF;
    overflow-x: hidden;
    width: 100%;
    margin: 0 0 0 0;

}

main {
    color: #393330;
    overflow-x: hidden;
    top: 0;  
    left: 0;  
    padding: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    z-index:1;
}

.circles {
    position: absolute;
    margin: auto;
    left: 10%;
    top: 5%;
    
}

.circle-1 {
    background: linear-gradient(to bottom, rgba(255,237,160,1), rgba(255,138,102,1));
    width: 800px;
    height: 800px;
    left: 10px;
    border: 0.75px solid #393330;
    border-radius: 50%;
    filter: blur(30px); 
    animation: move 5s infinite alternate;

}

.circle-2 {
    background: linear-gradient(to bottom, rgba(160,246,255,1), rgba(199,102,255,1)); 
    width: 800px;
    height: 800px;
    border-radius: 50%;
    filter: blur(30px); 
    margin-top: 200px;  
    animation: moveopp 5s infinite alternate;

}

@media (min-width: 1000px) {

    .circles {
        position: absolute;
        margin: auto;
        left: 0;
        top: 45%;
    }

    .circle-1 {
        position: relative;
        width: 600px;
        height: 600px;
        top: 50%;
        left: -50px;
    }

    .circle-2 {
        position: relative;
        width: 600px;
        height: 600px;
        left: 60%;
        top: 20%;
        right: 20%;    
    }
}


header {
    font-family: "Canela Thin";
    font-size: 28px;
    position: fixed;
    display: block;
    top: 0;
    width: 100vw;
    height: 90px;
    background-color: #F4F3EF;
    z-index: 1;
    border-bottom: 1px solid #393330;
}

@media (min-width: 1000px) {
    header {
        font-size: 18px;
        height: 50px;
        font-size: 18px;
    }
}

div.caption {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
}

@media (min-width: 1000px) {
    div.caption {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
}



.caption-about {
    margin-left: 150px;
}



.name {
    display: relative;
    margin: 200px 0 0 0;
    position: relative;

}

.name div {
    display: flex;
}

span img {
    width: 300px;
    padding: 20px 0 0 10px;
}

img {
    max-width: 100%;
    max-height: 100%;

}

h1 {
    font-family: "Ogg";
    font-size: 200px;
    font-weight: 100;
    line-height: 1em;
    text-transform: uppercase;
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 1;
}

h2{
    font-family: "Canela Thin";
    font-size: 50px;
    line-height: 1.8em;
    font-weight: 100;
    text-transform: uppercase;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3 {
    font-family: "Ogg";
    font-size: 125px;
    line-height: 1em;
    font-weight: 100;
    margin-block-start: 0em;
    margin-block-end: 0em;
}


h4{
    font-family: "Canela Thin";
    font-size: 80px;
    line-height: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h5{
    font-family: "Adieu-Light";
    font-size: calc(5px + 3 * ((100vw - 320px) / 75));
    line-height: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: inline;
}

@media (min-width: 1000px) {

    h5{
        font-size: calc(5px + 3 * ((100vw - 320px) / 400));
    }
}


h6{
    font-family: "Ogg";
    font-size: 80px;
    line-height: 1.2em; 
    font-weight: 100;
    margin-block-start: 0em;
    margin-block-end: 0em; 
    margin-top: 25px;
}



p {
    font-family: "Canela Thin";
    font-size: 36px;
    line-height: 1.5em;
    font-weight: 100;
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: inline;
}

h7 {
    font-family: "Canela Thin";
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 100;
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: inline;
}

.contacct.p {
    font-size: 22px;
}

.read-more {
    margin: 0 0 0 0;
    align-items: center;
    align-content: center;
}

.read-more span {
    height: 100px;

}

.arrow {
    height: 50px;
    width: 50px;
    top: .125em;
    display: inline-flex;
    align-self: center;
}



hX{
    font-family: "Ogg";
    font-size: calc(10px + 3 * ((100vw - 320px) / 50));
    line-height: 1.2em;
    font-weight: 100;
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: inline;
}

ul {
    padding: 0;
    font-family: "Adieu-Light";
    font-size: calc(10px + 3 * ((100vw - 320px) / 50));
    line-height: 1.75em;
    list-style-type: none;
    text-transform: uppercase;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
  }

  @media (min-width: 1000px) {

    hX {
        font-size: calc(5px + 3 * ((100vw - 320px) / 300));
    }
    ul {
        font-size: calc(10px + 3 * ((100vw - 320px) / 300));
    }
}

.list {
    width: 50%;
    display: inline;
}

@media (min-width: 1000px) {
    p {
        font-size: 22px;
        line-height: 1.5em;

    }
}

.intro {
    margin: 75px 0 75px 0;
    position: relative;
}

.intropar {
    margin: 20px 0 0 0;
}

@media (min-width: 1000px) {
    .intropar {
        width: 50%;
    }
}

.titleanddesc {
    margin-top: 30vh;
    width: 100%;
}

@media (min-width: 1000px) {
    .titleanddesc {
        margin-top: 40vh;
        width: 50%;
    }
}

.storyhalf {
    margin: 0 0 20px 0;
}

.texthalf {
    margin: 0 0 20px 0;
}

@media (min-width: 1000px) {
    
    .projectstory {
        display: flex;
        justify-content: space-between;
    }

    .storyhalf {
        width: 50%;
    }

    .texthalf {
        width: 50%;
        margin: 0 0 20px 50px;
    }

}
.intro-copy {
    position: relative;
}

.pullquote {
    margin: 200px 0 200px 0;
}

@media (min-width: 1000px) {
    .pullquote {
        width: 100%;
        display: block;
        margin: 300px 0 300px 0;
    }
}

@media (min-width: 1000px) {
    .intro-copy {
        margin: 0 0 0 50px;
        width: 2000px;

    }
}

@media (min-width: 1000px) {
    .intro {
        display: flex;
    }
}

.contact {
    visibility: hidden;
    position: absolute; 
    z-index: 2;
    margin-left: 195px;
    margin-top: 20px;


}

.contact div {
    margin: 0 0 0 0;
}

@media (min-width: 1000px) {
    .contact {
        visibility: visible;
        position: relative; 
        width: 1000px;
    }
}

.work {
    margin: 150px 0 0 0;
    position: relative;
    text-align: right;
}

.next {
    width: auto;
    text-align: center;
}

.p-name {
    padding: 0 50px 0 50px;
    font-size: 600%;
    font-family: "Ogg";
    font-weight: 100;
    line-height: 1em;
    text-transform: uppercase;
    margin-block-start: 0em;
    margin-block-end: 0em;
    z-index: 1;

}

.next h1:hover {
    color: red;
    transition: 0.5s;
}

.next-project {
    font-family: Ogg-Italic;
    font-size: 30px;
    margin: 100px 0 25px 0;
}
.project {
    margin: 0 0 75px 0;
    z-index: 1;
    position: relative;
}

.projectimage {
    padding-top: 95px;
    margin-bottom: 20px;
}

.casestudies {
    display: block;
    justify-content: space-between;
    margin: 20px 0 20px 0;

}

.cs-words {
    margin: 10px 0 25px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #393330;
}

@media (min-width: 1000px) {
    .projectimage {
        margin: 50px;
    }


.casestudies {
    display: flex;
    justify-content: space-between;
}

.casestudy-1 {
    width: 40%;
    margin-top: 600px;
}

.casestudy-2 {
    width: 50%;
    margin-top: 50px;
}

.casestudy-3 {
    width: 50%;
    margin-top: 100px;
    margin-left: 400px;
}

.extrainfo {
    position: relative;
    margin-top: 20px;
    justify-content: space-between;
}

}

@media (min-width: 1000px) {
    .extrainfo {
        display: flex;
        margin-top: 10px;
    }
}


.cs-words {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #393330;
}

.p-desc {
    float: left;
    margin-bottom: 50px;
}

.p-type {
    float: right;
}

.p-image {
    width: 100%;
}

}

.list-item {
    display: flex;
}



.overtures-img {
    transition-duration: 0.5s;
}



.pp-img {
    position: absolute;
    opacity: 0;
    transition-duration: 0.5s;
}

.npa-img {
    transition-duration: 0.5s;
}


.project-img {
    position: relative;
}

.project-number {
    z-index: 1;
}

.project-name {
    z-index: 1;
    text-align: right;
    padding-right: 25px;
}

.projectintro {
    margin: 20px 0 0 0;
    padding: 10px 0 30px 0;
    left: 5%;
    width: 89%;
    position: relative;
}

.introlist {
    margin: 50px 0 0 0;
    position: relative;
    display: flex;
}

@media (min-width: 1000px) {
    .introlist {
        width: 40%;
        display: flex;
        margin: 30px 0 0 150px;
    }
}